DATABASE_URL="postgresql://auf:auf@localhost:5432/auf_website"
NEXTAUTH_SECRET="replace-with-a-random-string-at-least-32-characters-long"
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"

# Optional: Google SSO
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""
